@import '@/styles/mixins/colors';

a:link, a:visited {
  color: $primary;
}

a:hover {
  color: $accent;
  border-bottom: none;
}

.gallery {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 0 2rem 0;
  grid-gap: 2rem;
}

@media (max-width: 960px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery-item div h2 {
    font-size: 24px;
  }

  .gallery-item div p {
    font-size: 1em;
  }
}