@import "@/styles/mixins/colors";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: 0;
  padding: 0 0 2rem 0;
  max-width: 100vw;
}

.footer-text {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.9em;
  color: $gray;
  
  a:link,
  a:visited {
    color: $primary;
    transition: color 0.2s ease;

    &:hover {
      color: $accent;
    }
  }
}
