/************************
*** / MEDIA-QUERIES / ***
************************/

@mixin for-size($size) {
  @if $size == xs {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == sm {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1800px) {
      @content;
    }
  }
}